astroid==2.11.2
blinker==1.4
click==8.1.2
dill==0.3.4
Flask==2.1.1
Flask-JWT-Extended==4.3.1
Flask-Mail==0.9.1
flask-marshmallow==0.14.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
importlib-metadata==4.11.3
isort==5.10.1
itsdangerous==2.1.2
Jinja2==3.1.1
lazy-object-proxy==1.7.1
MarkupSafe==2.1.1
marshmallow==3.15.0
mccabe==0.7.0
packaging==21.3
platformdirs==2.5.1
PyJWT==2.3.0
pylint==2.13.4
pyparsing==3.0.7
python-dotenv==0.20.0
six==1.16.0
SQLAlchemy==1.4.34
tomli==2.0.1
typing_extensions==4.1.1
Werkzeug==2.1.1
wrapt==1.14.0
zipp==3.7.0
